@charset "UTF-8";
.tabBVA {
  overflow: hidden;
  border:;
  background-color: #6D6D6D;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.tablinksBVA{
color:white;
font-weight:bold;
font-family:Arial;

}
.custom-selectBVA{
display:none;

}

#sourceBVA{
display:block;
}

#sourcemBVA{
display:none;
}

/* Container for columns and the top "toolbar" */
#navbarBVA {
  padding: 1.4em;
  background: #6D6D6D;
 height:1.69em;
}

#menuButtonBVA{
padding-right:0.2em;
padding-left:0.2em;
float:right;
border:1px solid #aaa;

}
#arrowsBVA{
color:#aaa;
font-size:2.5em;
margin-right:0.5em;
}

.GoButtonBVA {
	background-color:#44c767;
	display:block;
  float:left;
	cursor:pointer;
	color:#ffffff !important;
	font-family:Arial;
	font-size:0.75em;
	font-weight:bold;
	padding:0em 0.5em;
  margin-left:0.5em;
	text-decoration:none;
}
.GoButtonBVA:hover {
	background-color:#5cbf2a;
}
.GoButtonBVA:active {
	position:relative;
	top:1px;
}
/* Three bars (hamburger menu) */
.barBVA {
  width: 20px;
  height: 5px;
  background-color: #aaa;
  margin: 3px 1px;
  display: block;
}
/* Create three unequal columns that floats next to each other */
.columnBVA {
  margin-top:-1.2em;
    float: left;
}

.leftBVA {
 /* background-color:yellow;*/
  width: 10%;
  margin-top:-1.3em;
  margin-left:-0.8em;

}

.rightBVA {
 /* background-color:orange;*/
 margin-top:-1.2em;
 width: 5%;
}

.middleBVA {
 /*  background-color:purple;*/
  width: 85%;

}

/* Clear floats after the columns */
.rowBVA:after {
  content: "";
  display: table;
  clear: both;
}

#search-barBVA{
margin-left:0.8em;
float:left;
width:80%;
}

/* Style the input field */
input[type=text] {
  border-radius: 3px;
  border: none;
  background-color: white;
  margin-top: 1px;
  color: #666;
  padding: 0.3em;
}

/* Three dots */
.dotBVA {
  margin-top: 0.5em;
  margin-right:0.5em;
  height: 1em;
  width: 1em;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}


/* Style the buttons that are used to open the tab content */
.tabBVA button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 2px 20px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tabBVA button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tabBVA button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontentBVA {
  display: none;
  padding: 3px 6px;
  border: 1px solid #ccc;
  border-top: none;
}

#siteBVA{
  background-color: black;
  margin-top:-2em;
}

/*Para efecto de desvanecimiento
.tabcontent {
  animation: fadeEffect 1s;  -Fading effect takes 1 second-
}
-Go from zero to full opacity-
@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}
*/

/* The container must be positioned relative: */
.custom-selectBVA {
  display:none;
  position: relative;
  font-family: Arial;
  width:100%;
}
  #border-conersBVA{
  }
.custom-selectBVA select {
  display: none; /*hide original SELECT element: */
}

.select-selectedBVA {
  background-color: #6D6D6D;
  width:0%;
  margin-top:0.5em;
  height:1.5em;
}

/* Style the arrow inside the select element: */
.select-selectedBVA:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;/*Here is the arrow*/
}

/* Point the arrow upwards when the select box is open (active): */
.select-selectedBVA.select-arrow-activeBVA:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/* style the items (options), including the selected item: */
.select-itemsBVA div,.select-selectedBVA {
  color: #666;
  padding: 4px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}

/* Style items (options): */
.select-itemsBVA {
  position: absolute;
  background-color: white;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  margin-left:0.8em;
  width:72%;
  font-size:0.8em;
}

/* Hide the items when the select box is closed: */
.select-hideBVA {
  display: none;
}

.select-itemsBVA div:hover, .same-as-selectedBVA {
  background-color: rgba(0, 0, 0, 0.1);
}

@media(max-width:869px) and (min-width:620px){

  #sourcemBVA{
  display:block;
  }
  #sourceBVA{
  display:none;
  }

#arrowsBVA{
color:#aaa;
font-size:2.5em;
margin-right:0.1em;
}

.GoButtonBVA {
	background-color:#44c767;
	display:block;
  float:left;
	cursor:pointer;
	color:#ffffff !important;
	font-family:Arial;
	font-size:0.75em;
	font-weight:bold;
	padding:0em 0.8em;
  margin-left:0.5em;
	text-decoration:none;
}
.GoButtonBVA:hover {
	background-color:#5cbf2a;
}
.GoButtonBVA:active {
	position:relative;
	top:1px;
}



}


@media (min-width:410px) and (max-width: 619px) {
/*Changes here*/
  .tabBVA {
  display:none;
    
}

.select-selectedBVA {
  background-color: #6D6D6D;
  width:0%;
  margin-top:-2.2em;
  height:1.5em;
}

#navbarBVA {
    border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}


  #sourcemBVA{
  display:block;
  }
  #sourceBVA{
  display:none;
  }


.leftBVA {
  display:none;
  /*background-color:yellow;*/
  width:0%;
  margin-top:-1.8em;

}

.rightBVA {
 display:none;
 background-color:orange;
 width: 0%;
}

.middleBVA {
 /*background-color:purple;*/
  width: 100%;

}

  #search-barBVA{
float:left;
width:70%;
}

/* Style the input field */
.GoButtonBVA {
	background-color:#44c767;
	display:block;
  float:left;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:0.75em;
	font-weight:bold;
	padding:0.5em 0.8em;
  margin-left:0.5em;
	text-decoration:none;
}
.GoButtonBVA:hover {
	background-color:#5cbf2a;
}
.GoButtonBVA:active {
	position:relative;
	top:1px;
}
  .custom-selectBVA {
  display:block;
margin-top:2em;
}

.GoButtonBVA {
	background-color:#44c767;
	display:block;
  float:left;
	cursor:pointer;
	color:#ffffff !important;
	font-family:Arial;
	font-size:0.75em;
	font-weight:bold;
	padding:0em 0.8em;
  margin-left:0.5em;
	text-decoration:none;
}
.GoButtonBVA:hover {
	background-color:#5cbf2a;
}
.GoButtonBVA:active {
	position:relative;
	top:1px;
}
  /*----*/
  #navcontentBVA{
  position:relative;
  z-index:99;
  }


}

@media (max-width:409px){
  
    #sourcemBVA{
    display:none;
    } 
    #sourceBVA{
    display:none;
    }
    .tabBVA {
  display:none;
  }
  .leftBVA {
  display:none;
  /*background-color:yellow;*/
  width:0%;
  margin-top:-1.8em;

}
  
  .middleBVA {
 /*background-color:purple;*/
  width: 100%;

}

.rightBVA {
 display:none;
 background-color:orange;
 width: 0%;
  
}
  .custom-selectBVA {
  display:block;
margin-top:-0.69em;
}


  .select-itemsBVA {
  width:83%;
}


}
